@page "/empty-cart"


<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h2 class="fw-bold text-center mb-3">Your Shopping Cart</h2>
    <p class="text-center text-muted">Your cart is empty.</p>

    <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
</div>