/*--------------------PopUp------------------------------------------*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-container {
    width: 90%;
    max-width: 500px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    animation: fadeIn 0.3s ease-in-out;
    border: 2px solid #f1c40f;
}

.popup-header {
    /*background: #f1c40f;*/
    background: #f10f0f;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.popup-body {
    text-align: center;
    color: #333;
}

    .popup-body .status {
        font-weight: 700;
        color: #e74c3c;
        margin-bottom: 0.5rem;
        text-decoration: underline;
    }

    .popup-body .desc {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.7rem;
    }

    .popup-body .details {
        font-size: 0.95rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .popup-body .note {
        font-size: 0.85rem;
        color: #555;
        margin-bottom: 1.2rem;
    }

.btn-whatsapp {
    background-color: #25D366;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background 0.3s ease;
}

    .btn-whatsapp:hover {
        background-color: #1ebe5c;
    }

.close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #444;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
