<div class="announcement-bar">
    <div class="bar black-bar">
        Cash on Delivery available
    </div>
    <div class="bar maroon-bar">
        Get Free Neckset On Orders Above ₹1450
    </div>
</div>


<link href="/css/announcementbar.css" rel="stylesheet" />